<div *ngIf="caff">
  <app-caff-detail [caff]="caff">
    <button *ngIf="caffUsageType == allCaffUsageTypes.neutral"
            (click)="onPurchase()"
            class="btn btn-success">Purchase ({{ caff.price }}$)</button>
    <button *ngIf="caffUsageType == allCaffUsageTypes.purchased || caffUsageType == allCaffUsageTypes.uploaded"
            (click)="onDownload()"
            class="btn btn-primary">Download</button>
    <button *ngIf="caffUsageType == allCaffUsageTypes.uploaded"
            (click)="onDelete()"
            class="btn btn-danger">Delete</button>
  </app-caff-detail>
  <div class="mb-5">
    <app-comment-list [comments]="caff.comments"
                      (onCommentAdded)="onAddComment($event)"></app-comment-list>
  </div>
</div>
