<div class="m-5">
  <h1>{{ caff.name }}</h1>
  <h3>{{ caff.price }}$</h3>
  <div class="row mb-5">
    <div class="col-md-8 col-12">
      <img [src]="caff.gifUrl" [alt]="caff.name + ' gif'">
      <div class="mt-5">
        {{ caff.description }}
      </div>
    </div>
    <div class="col-md-4 col-12">
      <button  *ngIf="caffUsageType == allCaffUsageTypes.neutral" class="btn btn-success">Purchase ({{ caff.price }}$)</button>
      <button *ngIf="caffUsageType == allCaffUsageTypes.purchased || caffUsageType == allCaffUsageTypes.uploaded" class="btn btn-primary">Download</button>
      <button *ngIf="caffUsageType == allCaffUsageTypes.admin" class="btn btn-warning">Modify</button>
      <button *ngIf="caffUsageType == allCaffUsageTypes.uploaded || caffUsageType == allCaffUsageTypes.admin" class="btn btn-danger">Delete</button>
    </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel [hideToggle]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h1>Comments</h1>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list *ngIf="caff && caff.comments && caff.comments.length > 0; else noComments">
        <div *ngFor="let comment of caff.comments">
          <mat-list-item>{{ comment.author }}: {{ comment.commentString }}</mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
      <ng-template #noComments>
        <div>No comments on this Caff</div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
