<div class="login-view-wrapper">
  <h1>Log in to the application</h1>
  <form class="login-form-wrapper">
    <!--email input-->
    <mat-form-field class="input mt-5">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--password input-->
    <mat-form-field class="input mt-5">
      <mat-label>Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl">
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--submit button-->
    <button class="mt-5" mat-raised-button color="primary">Log in</button>

    <!--sign up link-->
    <a class="sign-up-link mt-2 mb-5">Sign up</a>
  </form>
</div>
