.login-view-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    margin-top: 10rem;
    align-self: center;
    font-size: xx-large;
    font-weight: 500;
  }

  .login-form-wrapper {
    background-color: var(--element-background);
    width: 100%;
    max-width: 50rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    .input {
      width: 90%;
      max-width: 30rem;
      align-self: center;

      .label {
        color: var(--element-text-color);
      }
    }

    button {
      width: 90%;
      max-width: 30rem;
      align-self: center;
    }

    .sign-up-link {
      width: 90%;
      max-width: 30rem;
      align-self: center;
      font-weight: 500;
      font-size: medium;
      color: var(--element-text-color);
      cursor: pointer;
    }
  }
}

::ng-deep .mat-form-field-underline {
  background-color: var(--element-text-color) !important;
}

::ng-deep .mat-form-field-required-marker {
  color: var(--element-text-color)
}
