:root {
  --element-background-80: rgba(105,240,175,0.8);
  --element-background-50: rgba(105,240,175,0.5);
  --element-background-35: rgba(105,240,175,0.35);
  --element-background-20: rgba(105,240,175,0.2);

  --element-text-color: #7b1fa2;
}
