<div class="login-view-wrapper">
  <h1 class="mb-5">Log in to the application</h1>
  <form class="login-form-wrapper">
    <!--username input-->
    <mat-form-field class="input mt-5">
      <mat-label class="label">Username</mat-label>
      <input type="text" matInput [formControl]="usernameFormControl">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--password input-->
    <mat-form-field class="input mt-5">
      <mat-label class="label">Password</mat-label>
      <input type="password" matInput [formControl]="passwordFormControl">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--submit button-->
    <button type="button" class="mt-5" mat-raised-button color="primary" (click)="onLoginButtonClick()">Log in</button>

    <!--sign up link-->
    <a class="sign-up-link mt-2 mb-5" routerLink="/signup">Sign up</a>
  </form>
</div>
